@model List<DailyScrum.Models.Database.Problem>

@{
    ViewData["Title"] = "Problemy";
}

<div class="bg-white">
    <h1>TEST problems</h1>

    @foreach (var item in Model)
    {
        <h2>@item.Description</h2>
    }
</div>



@section Scripts{
    <script src="~/js/daily-problems.js"></script>
} 