@{
    ViewData["Title"] = "Brak dostępu";
}

<div class="daily-background-color text-center text-white p-5">
    <h1>Brak dostępu</h1>
    <hr class="daily-background-black" />
    <h2>Nie masz dostępu do strony o podanym adresie.</h2>
</div>