@using Microsoft.AspNetCore.Identity
@using DailyScrum.Areas.Identity.Data
@using DailyScrum.Repository

@inject UserManager<ApplicationUser> UserManager
@inject IUserRepository userRepository

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Daily Scrum</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />

    <link rel="icon" type="image/x-icon" href="~/daily-icon.ico">

    <link href="~/lib/line-hover/base.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bell-animation.min.css" rel="stylesheet" />

</head>
<body class="myBackgroundImage">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark daily-background-black border-bottom border-dark mb-3" id="navbarHolder">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="white-space: nowrap">DailyScrum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-center">
                    <ul class="navbar-nav flex-grow-1" id="navbarOptionsId">
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white link link--mneme" asp-area="" asp-controller="Home" asp-action="Index">
                                Meeting
                                <span id="meetingBellNotifyDaily"></span>
                            </a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white link link--mneme" asp-area="" asp-controller="Home" asp-action="Chat">
                                Chat
                                <span id="meetingBellNotifyChat"></span>
                            </a>
                        </li>

                        @* Scrum part *@
                        @if (userRepository.CheckIfScrumMaster(User.Identity.Name))
                        {
                            <li class="nav-item ml-2">
                                <a class="nav-link text text-white link link--mneme" asp-area="" asp-controller="Problems" asp-action="Index">
                                    Problemy
                                    <span id="meetingBellNotifyProblem"></span>
                                </a>
                            </li>
                        }

                        <li class="nav-item ml-2">
                            <a class="nav-link text text-white link link--mneme" asp-area="" asp-controller="Home" asp-action="Creator">
                                Twórca
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial">
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-dark footer text-muted daily-background-black" id="footerHolder">
        <div class="container text-center">
            &copy; 2021 - DailyScrum
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/base-signalR.min.js"></script>

    <script src="~/js/notificationInvoker.min.js"></script>
    <script src="~/js/noteam-redirect.min.js"></script>

    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/toastr-notification.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
