@using Microsoft.AspNetCore.Identity
@using DailyScrum.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userPhoto = UserManager.GetUserAsync(User).Result?.PhotoPath;

    var path = "https://avios.pl/wp-content/uploads/2018/01/no-avatar.png";

    if (userPhoto != null)
    {
        path = userPhoto;
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action text-white">
                <img src="@path " class=" rounded-circle user-image-navbar" alt="Avatar">
                <span class="d-sm-none d-md-inline">@UserManager.GetUserName(User) <b class="caret"></b></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <form method="post" asp-action="RedirectToAccount" asp-controller="Home">
                    <button id="" type="submit" class=" btn btn-block text-dark ">
                        <i class="fa fa-user align-baseline"></i>Profil
                    </button>
                </form>

                <div class="divider dropdown-divider"></div>

                <div class="dropdown-item bg-transparent">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                        <button id="logout" type="submit" class=" btn btn-outline-danger btn-block text-dark "><i class="fas fa-power-off"></i> Wyloguj</button>
                    </form>
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

@section Scripts{
    <link href="~/lib/line-hover/base.min.css" rel="stylesheet" />
}