<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title w-100 text-center" id="exampleModalLabel">Daily post</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body w-100 text-center">
                <form method="post" id="newDailyPostForm">

                    @* TODO *@

                    <h5>Co robiłeś wczoraj?</h5>
                    <input type="text" class="d-inline form-control" value="" id="yesterdayInput" placeholder="Pochwal się progresem." />

                    @*<input type="text" class="d-inline" value="" id="yesterdayInputNext" placeholder="Task" />*@
                    @*<button id="btn" type="button">Click Me!</button>*@

                    <h5 class="mt-5">Co zrobisz dzisiaj?</h5>
                    <input type="text" class="d-inline form-control" value="" id="todayInput" placeholder="Co masz w planach?" />

                    <h5 class="mt-5">Widzisz jakieś przeszkody na drodzę?</h5>
                    <input type="text" class="d-inline form-control" value="" id="problemInput" placeholder="O nieee :(" />

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-success" id="submitDailyPost">Akceptuj</button>
            </div>
        </div>
    </div>
</div>
