@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column bg-white text-left">
    <li class="nav-item m-1 "><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profil</a></li>
    <li class="nav-item m-1"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Hasło</a></li>
    <li class="nav-item m-1"><a class="nav-link @ManageNavPages.ScrumOptionsNavClass(ViewContext)" id="scrum-master-options" asp-page="./ScrumOptions">Opcje Scrum</a></li>
</ul>
