@page "/konto"
@model IndexModel
@{
    ViewData["Title"] = "Twój Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "_Layout";
}


@using Microsoft.AspNetCore.Identity
@using DailyScrum.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userPhoto = UserManager.GetUserAsync(User).Result?.PhotoPath;

    if (userPhoto == null)
    {
        userPhoto = "https://avios.pl/wp-content/uploads/2018/01/no-avatar.png";
    }

    var userId = UserManager.GetUserId(User);
}

<div class="row">
    <div class="col-md-3 pb-3">
        <partial name="_ManageNav">
    </div>

    <div class="col-md-9 ">

        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <div class="daily-background-color p-3 pb-2 mb-5 pl-3 pr-3">
            <div class="container-fluid text-white w-75">

                <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="@*offset-2 col-6*@ text-center w-100 @*pb-2*@">

                            <button type="button" class="btn bg-transparent" data-toggle="modal" data-target="#photoModal">
                                <img src="@userPhoto" class="rounded-circle @*border border-dark*@" style="height:126px;width:126px" />
                            </button>


                            <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-dark">
                                            <h5 class="modal-title" id="photoModalLabel">Zmień swoje zdjęcie</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-dark">

                                            @* dropzone *@
                                            <input hidden id="userId" name="userId" value="@userId" />

                                            <input hidden id="file" name="file" />
                                            <div class="dropzone dropzone-file-area" id="fileUpload">
                                                <div class="dz-default dz-message">
                                                    <h3 class="sbold">Twoje zdjęcie.</h3>
                                                    <span>Przeciągnij albo naciśnij i wybierz plik z dysku.</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" value="Create" id="submit-all" class="btn btn-primary  btn-lg">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" id="firstNameInput" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" id="lastNameInput" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" id="phoneInput" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="text-center pt-2">
                        <button id="update-profile-button" type="submit" class="btn  btn-primary">Zapisz dane!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <link href="~/lib/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>

    <script>

        var btnClick = document.getElementById('submit-all');

        Dropzone.options.fileUpload = {
            url: 'photo/uploadfile',
            paramName: "file",
            autoProcessQueue: true,
            maxFilesize: 4,
            resizedWidth: 512,
            addRemoveLinks: true,
            maxFiles: 1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sending', function (data, xhr, formData) {
                    formData.append("userId", $('#userId').val());
                });
                this.on('sendingmutilple', function (data, xhr, formData) {
                    formData.append("sth", $("#submit-all").val());
                });
            }
        }
    </script>

    <script>
        var btn = document.getElementById('update-profile-button');

        btn?.addEventListener('click', function () {

            var a = document.getElementById('firstNameInput').value;
            var b = document.getElementById('lastNameInput').value;
            var c = document.getElementById('phoneInput').value;

            if (a.length > 1 && b.length > 1) {
                connection.invoke("UpdateUserData", a, b, c);
            }
        });

        $('#photoModal').on('hidden.bs.modal', function () {
            connection.invoke("UpdatePhoto");
        });

        var btn2 = document.getElementById('submit-all');

        btn2?.addEventListener('click', function () {
            connection.invoke("UpdatePhoto");
        });

    </script>
}