@page
@model DailyScrum.Areas.Identity.Pages.Account.Manage.ScrumOptionsModel

@{
    ViewData["Title"] = "Scrum Options";
}

<div class="daily-background-color p-3 text-white pt-2">

    @* Widok dla devow *@
    @*<h1>Mo team @ViewData["HasTeam"]</h1>*@

    @if ((bool)@ViewData["IsScrumMaster"])
    {
        @* Widok dla scrum mastra *@

        <div class="row text-center p-3 mb-2 pb-5">

            <div class="container-fluid col-md-8">

                <h2>Opcje Scrum Mastera</h2>

                <hr class="p-2" />
                <h4>Dodaj nowego członka</h4>

                <div class="form-group">
                    <input type="text" id="teamUserNameToAdd" class="form-control" value="" placeholder="np. frontdev@mail.com" />
                </div>
                <button id="btnAddTeamMember" type="submit" class="btn btn-lg btn-success">Dodaj</button>


                <div class="pt-5 pb-2">
                    <button id="btnDeleteTeam" type="submit" class="btn btn-sm btn-outline-danger">Usuń zespół</button>
                </div>
            </div>
        </div>
    }
    else if ((bool)@ViewData["HasTeam"])
    {
        <div class="row text-center p-3 mb-2 pb-5">

            <div class="container-fluid col-md-8">

                <h2>Twoja rola</h2>

                <hr class="p-2" />

                <h4>Ustaw rolę w zepsole</h4>

                <div class="form-group container-fluid">
                    <input type="text" id="roleName" class="form-control" value="" placeholder="np. Frontend dev" />
                    <div class="rounded bg-success m-1 border border-dark">
                        <span id="spanSucces" class="text-white"></span>
                    </div>
                </div>

                <button id="btnChangeRole" type="submit" class="btn btn-lg btn-success m-1 mt-2">Ustaw</button>

            </div>
        </div>
    }
    else
    {
        <div class="row text-white pb-2 pt-2 p-3 ml-1 mr-1">

            <div class="container-fluid col-md-6 text-center">

                <h3 class="pb-2">Stwórz zespół</h3>

                <hr class="daily-background-color" />

                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-2 mr-sm-2 p-2">
                        <div class="form-group">
                            <label asp-for="Input.Name"></label>
                            <input asp-for="Input.Name" class="form-control" placeholder="..." />
                        </div>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>

                    <div class="mb-2 mr-sm-2 p-2">
                        <div class="form-group">
                            <label asp-for="Input.DailyTime"></label>
                            <input asp-for="Input.DailyTime" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.DailyTime" class="text-danger"></span>
                    </div>


                    <div class="form-group p-4">
                        <button type="submit" class="btn text-white btn-primary">Stwórz zespół</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts{

    <script>
        connection.on("DisplayChangeRoleSucces", function () {

            var spanPlace = document.getElementById('spanSucces');

            spanPlace.innerText = "Sukces, zmieniłeś swoją rolę!";

        });
    </script>

    <script>
        var btn3 = document.getElementById('btnChangeRole');

        btn3?.addEventListener('click', function () {

            debugger;

            var user = document.getElementById('roleName');
            connection.invoke('ChangeMemberRole', user.value);
        });
    </script>

    <script>
        var btn2 = document.getElementById('btnAddTeamMember');

        btn2?.addEventListener('click', function () {

            debugger;

            var user = document.getElementById('teamUserNameToAdd');
            connection.invoke('AddTeamMember', user.value);
        });
    </script>

    <script>
        var btn = document.getElementById('btnDeleteTeam');

        btn?.addEventListener('click', function () {
            connection.invoke('DeleteTeam');
        });
    </script>
}
