@page 
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<META HTTP-EQUIV="Refresh" CONTENT="5;URL=@(Url.Page("/Login"))">

<header>
    <h1>Wylogowano</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/")" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>Pomyślnie wylogowano ze strony.</p>
        }
    }
</header>