
@{
    ViewData["Title"] = "Chat";
}

<div class="container">
    <div class="row">

        @* Chat Part *@
        <div class="col-md-8 col-lg-9">
            <div class="bg-white">
                <div class="chat-container" id="chatHolder" style="overflow-y:scroll;">
                    <ul class="chat-box chatContainerScroll list-unstyled" id="messagesList">
                    </ul>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="messageInput" class="form-control" placeholder="Napisz wiadomość" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary " type="button" id="sendButton">Wyślij</button>
            </div>
        </div>

        @* User List Part *@
        <div class="col-md-4 col-lg-3">
            <div class="card mb-sm-3 mb-md-0 contacts_card" id="usersHolder">
                <div class="card-header text-center" id="cardHeaderHolder">
                    <div class="row">

                        <h5 id="team-name"></h5>
                        @*</div>*@
                        @*<div class="col-4">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseUserList" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                            </div>*@
                    </div>
                    <p>Online: <span id="online-team-members"></span></p>
                </div>
                <div id="cardBodyHolder">
                    <div class="card-body @*collapse*@ contacts_body" id="collapseUserList" style="overflow-y: scroll;height:100%">
                        <ul id="usersList" class="contacts list-unstyled">
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <link href="~/css/chat.css" rel="stylesheet" />

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/daily.js"></script>
    <script src="~/js/chatWindowResizer.js"></script>

    <script>
        document.getElementById("sendButton").addEventListener("click", function (event) {
            var message = document.getElementById("messageInput").value;

            if (!(message === "")) {
                connection.invoke("SendMessage", message).catch(function (err) {
                    return console.error(err.toString());
                });
            }

            document.getElementById("messageInput").value = '';

            event.preventDefault();
        });
    </script>
}