@{
    ViewData["Title"] = "Chat";
}

<div class="container">
    <div class="row">

        @* Chat Part *@
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="daily-background-color p-3">
                <div class="text-center p-2">
                    <button type="button" class="btn btn-block btn-outline-light align-content-center " data-toggle="modal" data-target="#showUsersModal">
                        <i class="fas fa-users"></i>
                    </button>
                </div>
                <div class="chat-container bg-white" id="chatHolder" style="overflow-y:scroll;overflow-x: hidden;">
                    <ul class="chat-box chatContainerScroll list-unstyled" id="messagesList">
                    </ul>
                </div>
            </div>
            <div class="input-group mb-3 ">
                <input type="text" id="messageInput" class="form-control" placeholder="Napisz wiadomość..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary " type="button" id="sendButton">Wyślij</button>
            </div>
        </div>

        <partial name="_ModalUserList" />

        @* User List Part *@
        @*<div class="col-md-4 col-lg-3">
            <div class="card mb-sm-3 mb-md-0 contacts_card" id="usersHolder">
                <div class="card-header text-center" id="cardHeaderHolder">
                    <div class="row">

                        <h5 class="w-100 text-center" id="team-name"></h5>

                    </div>
                    <p>Online: <span id="online-team-members"></span></p>
                </div>
                <div id="cardBodyHolder">
                    <div class="card-body @*collapse*@ @*contacts_body" id="collapseUserList" style="overflow-y: scroll;height:100%">
                            <ul id="usersList" class="contacts list-unstyled">
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
                </div>
            </div>


            @section Scripts{
                <link href="~/css/chat.css" rel="stylesheet" />

                <script src="~/js/daily.js"></script>
                <script src="~/js/chatWindowResizer.js"></script>

                <script src="~/js/ClickHandler/sendChatMessageButton.js"></script>
            }