@{
    ViewData["Title"] = "Kontakt";
}


<div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 daily-background-color h-100 text-center text-white mt-5 ">
    <p class="align-items-center">
        <h1 class="pt-3">Kontakt</h1>
        <hr class="bg-white w-75"/>
        <h4 class="pt-4">Piotr Tomaszek</h4>
        <h6 class="pb-5">nr. albumu: 054493</h6>
    </p>
</div>
