
@{
    ViewData["Title"] = "Nie znaleziono";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="daily-background-color text-center text-white p-5">
    <h1>Błąd 404</h1>
    <hr class="daily-background-black" />
    <h2>Nie znaleziono strony o podanym adresie.</h2>
</div>