@{
    ViewData["Title"] = "Daily";
}

<div class="container-fluid">

    @* Daily Part *@
    <div class="row">
        <div class="container">
            <div class="container">
                <div class="row text-center rounded-top" style="background-color:white">
                    <div class="col-4">
                        <h1 class="pt-1">#Daily</h1>
                    </div>
                    <div class="col-5 text-left">
                        <h6 class="pt-1"><span id="starting-time"></span></h6>
                        <h6>Pozostały czas: <span id="timer"></span></h6>
                    </div>

                    <div class="col-3 align-self-sm-center">

                        <button class="btn btn-sm btn-block btn-outline-dark  align-content-center dropdown-toggle" type="button" id="dailyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Akcje
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dailyDropdown" id="dropdownDailyOptions">

                            <a class="dropdown-item text-center" id="showUsersDailyHolder" data-toggle="modal" data-target="#showUsersDailyModal">Wyświetl uczestników</a>

                        </div>
                    </div>
                </div>
            </div>
            <div id="dailyHolder" class="daily-background-color" style="width:100%;background-color:transparent; overflow-y:scroll;">

                <div>
                    <div class="container mt-5 mb-5">
                        <div class="row mt-1">
                            <div class="col-md-12 offset-lg-2 col-lg-8" id="dailyPostPlace">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Daily user list modal *@
<div class="modal fade " id="showUsersDailyModal" tabindex="-1" role="dialog" aria-labelledby="showUsersDailyModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title w-100 text-center" id="exampleModalLabel">#DailyMembers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body w-100 text-center">
                <p>Liczba osób aktualnie zalogowanych: <span id="online-team-members"></span></p>
                <div id="cardBodyHolder">
                    <div class="card-body @*collapse*@ contacts_body align-items-center" id="collapseUserList" style="overflow-y: scroll;height:100%">
                        <ul id="usersList" class="contacts list-unstyled">
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalStartMeetingPartial" />
<partial name="_ModalEndMeetingPartial" />
<partial name="_ModalNewPostPartial" />

@section Scripts{

    <link href="~/css/chat.min.css" rel="stylesheet" />

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <script src="~/js/daily.js"></script>

    <script src="~/js/daily-resizer.min.js"></script>
    <script src="~/js/daily-flush-posts.min.js"></script>
    <script src="~/js/daily-timer.min.js"></script>

    <script>
        document.getElementById('submitDailyPost').disabled = true;
    </script>

    <script>
        var element = document.getElementById('submitEndMeetingModal');
        element.addEventListener('click', function () {

            connection.invoke("EndDailyMeeting").catch(function (err) {
                return console.error(err.toString());
            });

            disableButtonStart();
            $('#endMeetingModal').modal('hide');

        });
        function disableButtonStart() {
            element.disabled = true;
        }
    </script>

    <script>
        var element = document.getElementById('submitStartMeetingModal');
        element.addEventListener('click', function () {

            connection.invoke("StartDailyMeeting").catch(function (err) {
                return console.error(err.toString());
            });

            disableButtonStart();
            $('#startMeetingModal').modal('hide');

        });
        function disableButtonStart() {
            element.disabled = true;
        }
    </script>

    <script>
        var element = document.getElementById('submitDailyPost');
        element.addEventListener('click', function () {

            var yesterday = document.getElementById('yesterdayInput').value;
            var today = document.getElementById('todayInput').value;
            var problem = document.getElementById('problemInput').value;

            connection.invoke("SendPost", yesterday, today, problem).catch(function (err) {
                return console.error(err.toString());
            });

            $('#exampleModal').modal('hide');

            disableButton();
        });
        function disableButton() {
            element.disabled = true;
        }
    </script>
}
