

<div class="daily-background-color text-white p-5 text-center">
    <h2 class="pt-3 ">Aktualnie nie masz zespołu :(</h2>
    <hr class="daily-background-black" />

    <ul class="text-left list-unstyled">
        <li class="pb-1">1. Dodaj własny zespół, <strong> Profil > Opcje Scrum > Stwórz zespół </strong> i zaproś developerów do pracy.</li>
        <li>2. Poczekaj na dodanie przez Scrum Mastera.</li>
    </ul>
</div>